.header-nav-icon
  height: 64px;
  position: absolute;
  top: 0;
  left: 20px;

.avue-breadcrumb
  height: 100%;
  i
    font-size: 30px !important;
  &--active
    transform:rotate(90deg);



.user-avatar
  margin: 0 8px 0 5px;
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 1px solid #eee;
  vertical-align: middle;